<header class="ui-header ui-header-positive ui-border-b fadeIn animated">
  <i class="ui-icon-return" onclick="history.back()"></i>
  <h1>查分</h1>
  
</header>

<div class="ui-form ui-border-t">
  <div class="ui-form-item ui-border-b">
    <label>生活区:</label>
    <div class="ui-select">
      <select class="livearealist-select">
        <option value="0" <% if(!liveAreaId){ %> selected <% } %> >请选择生活区</option>
        <% for(var i=0,ilen=liveAreaList.length;i<ilen;i++){ %>
        <option value="<%= liveAreaList[i].liveAreaId %>"  <% if(liveAreaId && liveAreaId==liveAreaList[i].liveAreaId){ %> selected <% } %> ><%= liveAreaList[i].title %></option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>楼&nbsp;&nbsp; &nbsp;栋:</label>
    <div class="ui-select">
      <select class="ban-select">
        <option value="0" <% if(!flatid){ %> selected <% } %> >请选择楼栋</option>
        <% if(flatid){ %>
        <% for(var i=0,ilen=liveAreaList.length;i<ilen;i++){ %>
        <% if(liveAreaList[i].liveAreaId==liveAreaId){ %>
        <% for(var j=0,jlen=liveAreaList[i].flatList.length;j<jlen;j++){ %>
        <option value="<%= liveAreaList[i].flatList[j].flatId %>" <% if(liveAreaList[i].flatList[j].flatId==flatid){ %> selected <% } %> ><%= liveAreaList[i].flatList[j].title %></option>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>层 &nbsp; &nbsp;数:</label>
    <div class="ui-select">
      <select class="floor-select">
        <option <% if(!floorid){ %> selected <% } %> >请选择楼层</option>
        <% if(floorid){ %>
        <% for(var i=0,ilen=roomList.length;i<ilen;i++){ %>
        <option value="<%= roomList[i].floorId %>" <% if(roomList[i].floorId==floorid){ %> selected <% } %> ><%= roomList[i].floorName %></option>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>寝&nbsp;&nbsp; &nbsp;室:</label>
    <div class="ui-select">
      <select class="room-select">
        <option <% if(!roomid){ %> selected <% } %> >请选择寝室</option>
        <% if(roomid){ %>
        <% for(var i=0,ilen=roomList.length;i<ilen;i++){ %>
        <% if(roomList[i].floorId==floorid){ %>
        <% for(var j=0,jlen=roomList[i].roomList.length;j<jlen;j++){ %>
        <option value="<%= roomList[i].roomList[j].roomId %>" <% if(roomList[i].roomList[j].roomId==roomid){ %> selected <% } %> ><%= roomList[i].roomList[j].roomName %></option>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-primary bind-btn">
        确定
    </button>
  </div>
</div>
