<header class="ui-header ui-header-positive ui-border-b fadeIn animated">
  <i class="ui-icon-return" onclick="history.back()"></i>
  <% if(type=='day') {%>
  <% var day=typeData.split('-')[2] %>
  <h1>日打分-<%= day%>号-<%= roomName %>寝室</h1>
  <% } %>
  
  <% if(type=='week') {%>
  <h1>周打分-第<%= typeData%>周-<%= roomName %>寝室</h1>
  <% } %>
  
  <% if(type=='month') {%>
  <h1>月打分-<%= typeData%>月-<%= roomName %>寝室</h1>
  <% } %>
  
  <% if(type=='check') {%>
  <h1>抽查-<%= typeData%>-<%= roomName %>寝室</h1>
  <% } %>
  <div class="ui-personal reset">重置</div>
</header>
<% var num=0; %>
<div class="ui-tab givegrade-tab">
  <ul class="ui-tab-nav ui-border-b">
    <li class="current">寝室</li>
    <% if(setting.bed==0){ %>
    <li>
    床位
    </li>
    <% } %>
    <% if(setting.photo==0){ %>
    <li>
    拍照
    </li>
    <% } %>
  </ul>
  <ul class="ui-tab-content">
  
  
    <% if(addOrEdit==0){ %>
    <li data-linum="1">
      
      <% if(gradeTableRoom){ %>
      
      <% for(var i=0,ilen=gradeTableRoom.itemList.length;i<ilen;i++){ %>
      
      <h4> <%= gradeTableRoom.itemList[i].title %> </h4>
      <ul class="room">
      
      <% for(var j=0,jlen=gradeTableRoom.itemList[i].subNodes.length;j<jlen;j++){ %>
      
        <% if(gradeTableRoom.standardType==0){ %>
        <li class="grade-item" data-itemid="<%= gradeTableRoom.itemList[i].subNodes[j].itemId %>" 
        data-fullmark="<%= gradeTableRoom.itemList[i].subNodes[j].fullMark %>">
          <div class="table-cell-div left-table-cell" ><%= gradeTableRoom.itemList[i].subNodes[j].title %> （<%= gradeTableRoom.itemList[i].subNodes[j].fullMark %>）</div>
          <div class="table-cell-div right-table-cell"><span data-fullmark="<%= gradeTableRoom.itemList[i].subNodes[j].fullMark %>"><%= gradeTableRoom.itemList[i].subNodes[j].fullMark %><i></i></span></div>
          <% num+=gradeTableRoom.itemList[i].subNodes[j].fullMark %>
        </li>
        <% }else if(gradeTableRoom.standardType==1){ %>
        <li class="gradeok-item" data-itemid="<%= gradeTableRoom.itemList[i].subNodes[j].itemId %>" data-fullmark="-1">
          <div class="table-cell-div left-table-cell" ><%= gradeTableRoom.itemList[i].subNodes[j].title %></div>
          <% num++ %>
          <div class="table-cell-div right-table-cell"><i class="iconfont icon-right room-rules"></i></div>
        </li>
        <% } %>
      
      <% } %>
      
      </ul>
      
      <% } %>
      
      <% }else{ %>
      
      <h4> 寝室分 </h4>
      <ul class="room">
        <div class="ui-tips ui-tips-warn">
          <i></i><span>没有设置打分表</span>
        </div>
      </ul>
      
      <% } %>
      
      <% if(setting.role==0){ %>
      <h4>违章</h4>
      <ul class="break-rules">
        
        <% for(var i=0,ilen=roleList.length;i<ilen;i++){ %>
        <li>
          <div class="rules-table">
            <div class="rules-col rules-title"><%= roleList[i].title %></div>
            <div class="rules-col rules-content role-item" data-itemid="<%= roleList[i].itemId %>">
              <span data-add="<%= i %>" class="rules-add rules-add-<%= i %>"><i data-add="<%= i %>" class="iconfont icon-ui2-icon-add"></i></span>
            </div>
          </div>
        </li>
        <% } %>
        
        <% if(roleList.length<=0){ %>
        <div class="ui-tips ui-tips-warn">
          <i></i><span>没有设置违章项</span>
        </div>
        <% } %>
        
      </ul>
      <% } %>
      
    </li>
    <% }else if(addOrEdit==1){ %>
    <li data-linum="1">
      
      <% if(roomGradeList.length>0){ %>
    
      <% for(var i=0,ilen=roomGradeList.length;i<ilen;i++){ %>
      
      <h4> <%= roomGradeList[i].typeName %> </h4>
      <ul class="room">
      
      <% for(var j=0,jlen=roomGradeList[i].itemList.length;j<jlen;j++){ %>
      
        <% if(roomGradeList[i].itemList[j].standardType==0){ %>
        <li class="grade-item" data-itemid="<%= roomGradeList[i].itemList[j].itemId %>" 
        data-fullmark="<%= roomGradeList[i].itemList[j].score %>">
          <div class="table-cell-div left-table-cell" ><%= roomGradeList[i].itemList[j].title %> （<%= roomGradeList[i].itemList[j].maxScore %>）</div>
          <div class="table-cell-div right-table-cell"><span data-fullmark="<%= roomGradeList[i].itemList[j].maxScore %>"><%= roomGradeList[i].itemList[j].score %>
          <i class="<% if(roomGradeList[i].itemList[j].maxScore!=roomGradeList[i].itemList[j].score){ %> active <% } %>" >
            <% if(roomGradeList[i].itemList[j].maxScore!=roomGradeList[i].itemList[j].score){ %> <%= roomGradeList[i].itemList[j].score-roomGradeList[i].itemList[j].maxScore %> <% } %>
          </i></span>
          </div>
          <% num+=roomGradeList[i].itemList[j].score %>
        </li>
        <% }else if(roomGradeList[i].itemList[j].standardType==1){ %>
        <li class="gradeok-item" data-itemid="<%= roomGradeList[i].itemList[j].itemId %>" 
        data-fullmark="<% if(roomGradeList[i].itemList[j].score==-1){ %> -1 <% }else{ %> -2 <% } %>">
          <div class="table-cell-div left-table-cell" ><%= roomGradeList[i].itemList[j].title %></div>
          <% if(roomGradeList[i].itemList[j].score==-1){ num++ } %>
          <div class="table-cell-div right-table-cell"><i class="iconfont <% if(roomGradeList[i].itemList[j].score==-1){ %> icon-right <% }else{ %> icon-wrong <% } %> room-rules"></i></div>
        </li>
        <% } %>
      
      <% } %>
      
      </ul>
      
      <% } %>
      
      <% }else{ %>
      
      <h4> 寝室分 </h4>
      <ul class="room">
        <div class="ui-tips ui-tips-warn">
          <i></i><span>没有设置打分表</span>
        </div>
      </ul>
      
      <% } %>
      
      <% if(setting.role==0){ %>
      <h4>违章</h4>
      <ul class="break-rules">
        
        <% for(var i=0,ilen=roleList.length;i<ilen;i++){ %>
        <li>
          <div class="rules-table">
            <div class="rules-col rules-title"><%= roleList[i].title %></div>
            <div class="rules-col rules-content role-item" data-itemid="<%= roleList[i].itemId %>">
              
              <% for(var j=0,jlen=roleDetailList.length;j<jlen;j++){ %>
              <% if(roleDetailList[j].itemId==roleList[i].itemId){ %>
              
              <% for(var z=0,zlen=roleDetailList[j].list.length;z<zlen;z++){ %>
              <% if(roleDetailList[j].list[z].bedId==''){ %>
              
              <span class="break-room role-room-item">寝室违章</span>
              
              <% }else{ %>
              
              <% var text=roleDetailList[j].list[z].bedName %>
              <span class="role-bed-item" data-bedid="<%= roleDetailList[j].list[z].bedId %>"><%= text %></span>
              
              <% } %>              
              <% } %>
              
              <% } %>
              <% } %>
              
              <span data-add="<%= i %>" class="rules-add rules-add-<%= i %>"><i data-add="<%= i %>" class="iconfont icon-ui2-icon-add"></i></span>
            </div>
          </div>
        </li>
        <% } %>
        
        <% if(roleList.length<=0){ %>
        <div class="ui-tips ui-tips-warn">
          <i></i><span>没有设置违章项</span>
        </div>
        <% } %>
        
      </ul>
      <% } %>
      
    </li>
    <% } %>
    
    
    <% if(setting.bed==0){ %>
    <% if(addOrEdit==0){ %>
    <li data-linum="2">
      
      <% if(bedList.length>0){ %>
      
      <% if(gradeTableBed && gradeTableBed.itemList.length>0){ %>
      
      <% for(var i=0,ilen=bedList.length;i<ilen;i++){ %>
      <h4><%= bedList[i].bedName %>号床位 - <%= bedList[i].studentName %>(<%= bedList[i].studentNumber %>)</h4>
      <ul class="bed">
      
        <% for(var j=0,jlen=gradeTableBed.itemList.length;j<jlen;j++){ %>
        
        <% if(gradeTableBed.standardType==0){ %>
        <li class="bed-item" data-studentkey="<%= bedList[i].studentKey %>" 
        data-bedid="<%= bedList[i].bedId %>" 
        data-itemid="<%= gradeTableBed.itemList[j].itemId %>" 
        data-fullmark="<%= gradeTableBed.itemList[j].fullMark %>">
          <div class="table-cell-div left-table-cell" ><%= gradeTableBed.itemList[j].title %> （<%= gradeTableBed.itemList[j].fullMark %>）</div>
          <div class="table-cell-div right-table-cell"><span data-fullmark="<%= gradeTableBed.itemList[j].fullMark %>"><%= gradeTableBed.itemList[j].fullMark %><i></i></span></div>
        </li>
        <% }else if(gradeTableBed.standardType==1){ %>
        <li class="bed-item" data-studentkey="<%= bedList[i].studentKey %>" 
        data-bedid="<%= bedList[i].bedId %>" 
        data-itemid="<%= gradeTableBed.itemList[j].itemId %>" 
        data-fullmark="-1">
          <div class="table-cell-div left-table-cell" ><%= gradeTableBed.itemList[j].title %></div>
          <div class="table-cell-div right-table-cell"><i class="iconfont icon-right room-rules"></i></div>
        </li>
        <% } %>
        
        <% } %>
        
      </ul>
      <% } %>
      
      <% }else{ %>
      
      <h4>床位分</h4>
      <ul class="bed">
        <div class="ui-tips ui-tips-warn">
          <i></i><span>没有设置打分表</span>
        </div>
      </ul>
      
      <% } %>
      
      <% }else{ %>
      
      <h4>床位分</h4>
      <ul class="bed">
        <div class="ui-tips ui-tips-warn">
          <i></i><span>该宿舍当前床位空闲</span>
        </div>
      </ul>
      
      <% } %>
      
    </li>
    <% }else if(addOrEdit==1){ %>
    <li data-linum="2">
      
      <% if(bedList.length>0 && bedList[0].itemList.length>0){ %>
      
      <% for(var i=0,ilen=bedList.length;i<ilen;i++){ %>
      <h4><%= bedList[i].bedName %>号床位 - <%= bedList[i].studentName %>(<%= bedList[i].studentNumber %>)</h4>
      <ul class="bed">
      
        <% for(var j=0,jlen=bedList[i].itemList.length;j<jlen;j++){ %>
        
        <% if(bedList[i].itemList[j].standardType==0){ %>
        <li class="bed-item" data-studentkey="<%= bedList[i].studentKey %>" 
        data-bedid="<%= bedList[i].bedId %>" 
        data-itemid="<%= bedList[i].itemList[j].itemId %>" 
        data-fullmark="<%= bedList[i].itemList[j].score %>">
          <div class="table-cell-div left-table-cell" ><%= bedList[i].itemList[j].title %> （<%= bedList[i].itemList[j].maxScore %>）</div>
          <div class="table-cell-div right-table-cell"><span data-fullmark="<%= bedList[i].itemList[j].maxScore %>"><%= bedList[i].itemList[j].score %>
          <i class="<% if(bedList[i].itemList[j].maxScore!=bedList[i].itemList[j].score){ %> active <% } %>" >
            <% if(bedList[i].itemList[j].maxScore!=bedList[i].itemList[j].score){ %> <%= bedList[i].itemList[j].score-bedList[i].itemList[j].maxScore %> <% } %>
          </i></span>
          </div>
        </li>
        <% }else if(bedList[i].itemList[j].standardType==1){ %>
        <li class="bed-item" data-studentkey="<%= bedList[i].studentKey %>" 
        data-bedid="<%= bedList[i].bedId %>" 
        data-itemid="<%= bedList[i].itemList[j].itemId %>" 
        data-fullmark="<% if(bedList[i].itemList[j].score==-1){ %> -1 <% }else{ %> -2 <% } %>">
          <div class="table-cell-div left-table-cell" ><%= bedList[i].itemList[j].title %></div>
          <div class="table-cell-div right-table-cell"><i class="iconfont <% if(bedList[i].itemList[j].score==-1){ %> icon-right <% }else{ %> icon-wrong <% } %> room-rules"></i></div>
        </li>
        <% } %>
        
        <% } %>
        
      </ul>
      <% } %>
      
      <% }else{ %>
      
      <h4>床位分</h4>
      <ul class="bed">
        <div class="ui-tips ui-tips-warn">
          <i></i><span>该宿舍当前床位空闲</span>
        </div>
      </ul>
      
      <% } %>
      
    </li>
    <% } %>
    <% } %>
    
    
    <% if(setting.photo==0){ %>
    <% if(addOrEdit==0){ %>
    <li data-linum="3">
      <h4>拍照</h4>
      <ul class="ui-grid-trisect ui-border-b photo">
        <li class="photo-add-li">
          <div class="ui-grid-trisect-img">
            <span class="photo-add"><input type="file" accept="image/*" capture="camera" class="" id="imgupload" /><i class="iconfont icon-ui2-icon-add img-add-icon"></i></span>
          </div>
        </li>
      </ul>
    </li>
    <% }else if(addOrEdit==1){ %>
    <li data-linum="3">
      <h4>拍照</h4>
      <ul class="ui-grid-trisect ui-border-b photo">
        <% for(var i=0,ilen=photoList.length;i<ilen;i++){ %>
        <li class="photo-farther-item">
          <div class="ui-grid-trisect-img">
            <span data-fileid="<%= photoList[i].fileId %>" class="photo-item" style="background-image:url(<%= photoList[i].picUrl %>)"></span>
          </div>
        </li>
        <% } %>
        <li class="photo-add-li">
          <div class="ui-grid-trisect-img">
            <span class="photo-add"><input type="file" class="" id="imgupload" /><i class="iconfont icon-ui2-icon-add img-add-icon"></i></span>
          </div>
        </li>
      </ul>
    </li>
    <% } %>
    <% } %>
    
    
  </ul>
</div>

<div style="height:58px;"></div>

<div class="ui-row-flex ui-whitespace roules-footer">
    <div class="ui-col ui-col roules-grade">
      <span><span class='all-grade'><%= num %></span><i>分</i></span>
    </div>
    <% if(gradeTableId!=-1 || addOrEdit==1){ %>
    
    <% if(type=='day' && setting.dayGradeCompetence==0){ %>
    <div class="ui-col ui-col roules-next">
      保存并进入下一个
    </div>
    <% } %>
    
    <% if(type=='week' && setting.weekGradeCompetence==0){ %>
    <div class="ui-col ui-col roules-next">
      保存并进入下一个
    </div>
    <% } %>
    
    <% if(type=='month' && setting.monthGradeCompetence==0){ %>
    <div class="ui-col ui-col roules-next">
      保存并进入下一个
    </div>
    <% } %>
    
    <% if(type=='check' && setting.checkGradeCompetence==0){ %>
    <div class="ui-col ui-col roules-next">
      保存并进入下一个
    </div>
    <% } %>
    
    <% } %>
</div>

<div class="ui-actionsheet rules-menu">
  <div class="ui-actionsheet-cnt">
    <h4>请选择违章源</h4>
    <% for(var i=0,ilen=bedList.length;i<ilen;i++){ %>
    <button data-bed="<%= bedList[i].bedName %>" data-bedid="<%= bedList[i].bedId %>"><%= bedList[i].bedName %>号床位</button>
    
    <% } %>
    <button data-bed="0">寝室违章</button>
    <button data-bed="-1">取消</button>
  </div>
</div>

<div class="ui-dialog reset-dialog">
  <div class="ui-dialog-cnt">
    <header class="ui-dialog-hd ui-border-b">
      <h3>重置打分项</h3>
      <i class="ui-dialog-close" data-role="button"></i>
    </header>
    <div class="ui-dialog-bd">
      <div>选择确定将重置本页打分项目，并且不能恢复，请确认是否重置！</div>
    </div>
    <div class="ui-dialog-ft">
      <button type="button" class='reset-cancle' data-role="button">取消</button>
      <button type="button" class='reset-sure' data-role="button">确定</button>
    </div>
  </div>        
</div>