<header class="ui-header ui-header-positive ui-border-b fadeIn animated">
  <i class="ui-icon-return" onclick="history.back()"></i>
  <h1>寝室打分</h1>
  
</header>

<div class="ui-form ui-border-t">
 
  <% if(setting.day==0) {%>
  <% if(setting.dayCompetence==0) {%>
  <div class="ui-form-item ui-border-b input-item day">
    <label>日打分:</label>
    <% var val=new Date() %>
    <input class="h5-date" type="date" value="<%= val.Format('yyyy-MM-dd') %>">
    <div class="ui-btn day-btn">打分</div>
  </div>
  <% } %>
  <% } %>
  
  <% if(setting.week==0) {%>
  <% if(setting.weekCompetence==0) {%>
  <div class="ui-form-item ui-border-b">
    <label>周打分:</label>
    <div class="ui-select-group week">
      <% if(yearlist.length>0){ %>
      <div class="ui-select">
        <select class="week-select">
        <% if(yearlist.length>0){ %>
        <% for(var i=0;i<yearlist.length;i++ ) { %>
          <option value="<%= yearlist[i].schoolYearId %>" <% if(yearlist[i].schoolYearId==currentYearId) { %> selected <% }%> > <%= yearlist[i].year %></option>
        <% } %>
        <% }else{ %>
          <option selected value="0" >请选择</option>
        <% } %>
        </select>
      </div>
      <div class="ui-select">
        <select class="week-select-second">
        <% if(yearlist.length>0 && schoolyearModel.semesterList.length>0){ %>
        <% for(var i=0,ilen=schoolyearModel.semesterList.length;i<ilen;i++ ) {%>
          <option value="<%= schoolyearModel.semesterList[i].semesterId %>" <% if(schoolyearModel.semesterList[i].isCurrent==1) { %> selected <% }%> >学期<%= i+1%></option>
        <% }%>
        <% }else{ %>
          <option selected value="0" >请选择</option>
        <% } %>
        </select>
      </div>
      <div class="ui-select">
        <select class="week-select-third">
        <% if(yearlist.length>0 && schoolyearModel.semesterList.length>0){ %>
        <% for(var i=0;i<schoolyearModel.semesterList[currentSemesterIndex].countweek;i++ ) {%>
          <option value="<%= i+1 %>" <% if(schoolyearModel.semesterList[currentSemesterIndex].currentWeek==i+1){ %> selected <% } %> >第<%= i+1%>周</option>
        <% }%>
        <% }else{ %>
          <option selected value="0" >请选择</option>
        <% } %>
        </select>
      </div>
      <% }else{ %>
      <div class="ui-select">
        <select>
          <option selected value="0" >还为配置学期信息</option>
        </select>
      </div>
      <% } %>
    </div>
    <div class="ui-btn week-btn">打分</div>
  </div>
  <% } %>
  <% } %>
  
  <% if(setting.month==0) {%>
  <% if(setting.monthCompetence==0) {%>
  <div class="ui-form-item ui-border-b month">
    <label>月打分:</label>
    <% var val=new Date() %>
    <input class="h5-date" type="month" value="<%= val.Format('yyyy-MM') %>">
    <div class="ui-btn month-btn">打分</div>
  </div>
  <% } %>
  <% } %>
  
  <% if(setting.check==0) {%>
  <% if(setting.checkCompetence==0) {%>
  <div class="ui-form-item ui-border-b">
    <label>抽&nbsp;&nbsp;&nbsp;查:</label>
    <div class="ui-select-group check">
      <% if(yearlist.length>0){ %>
      <div class="ui-select">
        <select class="check-select">
        <% if(yearlist.length>0){ %>
        <% for(var i=0;i<yearlist.length;i++ ) { %>
          <option value="<%= yearlist[i].schoolYearId %>" <% if(yearlist[i].schoolYearId==currentYearId) { %> selected <% }%> > <%= yearlist[i].year %></option>
        <% } %>
        <% }else{ %>
          <option selected value="0" >请选择</option>
        <% } %>
        </select>
      </div>
      <div class="ui-select">
        <select class="check-select-second">
        <% if(yearlist.length>0 && schoolyearModel.semesterList.length>0){ %>
        <% for(var i=0,ilen=schoolyearModel.semesterList.length;i<ilen;i++ ) {%>
          <option value="<%= schoolyearModel.semesterList[i].semesterId %>" <% if(schoolyearModel.semesterList[i].isCurrent==1) { %> selected <% }%> >学期<%= i+1%></option>
        <% }%>
        <% }else{ %>
          <option selected value="0" >请选择</option>
        <% } %>
        </select>
      </div>
      <% }else{ %>
      <div class="ui-select">
        <select>
          <option selected value="0" >还为配置学期信息</option>
        </select>
      </div>
      <% } %>
    </div>
    <div class="ui-btn check-btn">打分</div>
  </div>
  <% } %>
  <% } %>
  
</div>

<div class="ui-actionsheet dormitory-menu">
  <div class="ui-actionsheet-cnt dormitory-menu-body">
    
  </div>
</div>
