<header class="ui-header ui-header-positive ui-border-b fadeIn animated">
  <i class="ui-icon-return" onclick="history.back()"></i>
  <% if(type=='day') {%>
  <h1>日打分-<%= typeData%></h1>
  <% } %>
  
  <% if(type=='week') {%>
  <h1>周打分-第<%= typeData%>周</h1>
  <% } %>
  
  <% if(type=='month') {%>
  <h1>月打分-<%= typeData%>月</h1>
  <% } %>
  
  <% if(type=='check') {%>
  <h1>抽查-<%= typeData%></h1>
  <% } %>
</header>

<div class="ui-tab">
  <ul class="ui-tab-nav ui-border-b">
    <li class="dormitory"><span><%= liveAreaName%></span><i class=""></i></li>
    <li class="ban"><span><%= flatName%></span><i class=""></i></li>
  </ul>
  
</div>

<div class="room-lst">
  <% for(var i=0,ilen=floorList.length;i<ilen;i++){ %>
  
  <% for(var j=0,jlen=floorList[i].roomList.length;j<jlen;j=j+4){ %>
  
  <ul class="ui-row <% if(j==0){ %> first <% }%>">
    <li class="ui-col ui-col-25">
      <span data-roomid="<%= floorList[i].roomList[j].roomId %>" 
      data-floor="<%= i %>" data-num="<%= j %>" data-roomname="<%= floorList[i].roomList[j].roomNum %>" 
      <% if(floorList[i].roomList[j].roomScoreId!=''){ %> 
      data-roomscoreid="<%= floorList[i].roomList[j].roomScoreId %>" 
      <%}%> 
      class="<% if(floorList[i].roomList[j].roomScoreId!=''){ %> active <%}%> <% if(floorList[i].roomList[j].grade==2 && setting.pass==0){ %> not-need <%}%>">
        <% if(floorList[i].roomList[j].grade==2 && setting.pass==0){ %> <i>免</i> <%}%>
        <%= floorList[i].roomList[j].roomNum%>
      </span>
    </li>
    
    <% if(floorList[i].roomList[j+1]){ %>
    <li class="ui-col ui-col-25">
      <span data-roomid="<%= floorList[i].roomList[j+1].roomId %>" 
      data-floor="<%= i %>" data-num="<%= j+1 %>" data-roomname="<%= floorList[i].roomList[j+1].roomNum %>" 
      <% if(floorList[i].roomList[j+1].roomScoreId!=''){ %> 
      data-roomscoreid="<%= floorList[i].roomList[j+1].roomScoreId %>" 
      <%}%> 
      class="<% if(floorList[i].roomList[j+1].roomScoreId!=''){ %> active <%}%> <% if(floorList[i].roomList[j+1].grade==2 && setting.pass==0){ %> not-need <%}%>">
        <% if(floorList[i].roomList[j+1].grade==2 && setting.pass==0){ %> <i>免</i> <%}%>
        <%= floorList[i].roomList[j+1].roomNum%>
      </span>
    </li>
    <% }%>
    
    <% if(floorList[i].roomList[j+2]){ %>
    <li class="ui-col ui-col-25">
      <span data-roomid="<%= floorList[i].roomList[j+2].roomId %>" 
      data-floor="<%= i %>" data-num="<%= j+2 %>" data-roomname="<%= floorList[i].roomList[j+2].roomNum %>" 
      <% if(floorList[i].roomList[j+2].roomScoreId!=''){ %> 
      data-roomscoreid="<%= floorList[i].roomList[j+2].roomScoreId %>" 
      <%}%> 
      class="<% if(floorList[i].roomList[j+2].roomScoreId!=''){ %> active <%}%> <% if(floorList[i].roomList[j+2].grade==2 && setting.pass==0){ %> not-need <%}%>">
        <% if(floorList[i].roomList[j+2].grade==2 && setting.pass==0){ %> <i>免</i> <%}%>
        <%= floorList[i].roomList[j+2].roomNum%>
      </span>
    </li>
    <% }%>
    
    <% if(floorList[i].roomList[j+3]){ %>
    <li class="ui-col ui-col-25">
      <span data-roomid="<%= floorList[i].roomList[j+3].roomId %>" 
      data-floor="<%= i %>" data-num="<%= j+3 %>" data-roomname="<%= floorList[i].roomList[j+3].roomNum %>" 
      <% if(floorList[i].roomList[j+3].roomScoreId!=''){ %> 
      data-roomscoreid="<%= floorList[i].roomList[j+3].roomScoreId %>" 
      <%}%> 
      class="<% if(floorList[i].roomList[j+3].roomScoreId!=''){ %> active <%}%> <% if(floorList[i].roomList[j+3].grade==2 && setting.pass==0){ %> not-need <%}%>">
        <% if(floorList[i].roomList[j+3].grade==2 && setting.pass==0){ %> <i>免</i> <%}%>
        <%= floorList[i].roomList[j+3].roomNum%>
      </span>
    </li>
    <% }%>
    
  </ul>
  
  <% }%>
  
  <% }%>
  
</div>
<div style="height:58px;"></div>
<div class="progress">
  <div class="ui-progress">
    <span style="width:<%= (roomNumber-notRoomNumber)/roomNumber*100 %>%"></span>
  </div>
  <span class="progress-num"><i><%= roomNumber-notRoomNumber %></i>/<span><%= roomNumber%></span></span>
</div>

<% if(floorList.length==0){ %>
<div class="ui-notice">
  <i></i>
  <p>还没有数据</p>
</div>
<% } %>


